.welcome-page {
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4bc1c7, #f2f4f3, #96ecf1, #f2f4f3);
  font-family: 'Segoe UI', sans-serif;
}

.welcome-box {
  padding: 50px;
  border-radius: 24px;
  border: none;
  text-align: center;
  background: rgba(142, 159, 181, 0.9);
  backdrop-filter: blur(12px);

  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}

.welcome-box h1 {
  color: #2f3e34;
  margin-bottom: 10px;
}

.welcome-box p {
  color: #5f6f66;
  margin-bottom: 6px;
}

.school-name {
  font-size: 14px;
  margin-bottom: 25px;
}

.welcome-box button {
  padding: 10px 26px;
  border: none;
  border-radius: 20px;

  background: #cfd8d3;
  color: #2f3e34;

  font-size: 15px;
  cursor: pointer;
}

.welcome-box button:hover {
  background: #c4cdc8;
}
